body {
  padding: 0px;
  margin: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-container {
  height: 100vh;
  width: 100vw;
  background-color: white;
  overflow: scroll;
  p {
    font-weight: 700;
    color: white;
    display: flex;
    line-height: 230px;
    justify-content: flex-end;
  }
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.heading > button {
  background-color: black;
  border: 1px solid black;
  font-weight: 700;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
}
.heading > h4 {
  cursor: pointer;
}
.main-color {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box {
  display: flex;
  flex-direction: row;
}
.color1 {
  background-color: #f6e58d;
  width: 250px;
  height: 150px;
}
.color2 {
  background-color: #ffbe76;
  width: 250px;
  height: 150px;
}
.color3 {
  background-color: #ff7979;
  width: 250px;
  height: 150px;
}
.color4 {
  background-color: #badc58;
  width: 250px;
  height: 150px;
}
.color5 {
  background-color: #dff9fb;
  width: 250px;
  height: 150px;
}
.color6 {
  background-color: #f9ca24;
  width: 250px;
  height: 150px;
}
.color7 {
  background-color: #f0932b;
  width: 250px;
  height: 150px;
}
.color8 {
  background-color: #eb4d4b;
  width: 250px;
  height: 150px;
}
.color9 {
  background-color: #6ab04c;
  width: 250px;
  height: 150px;
}
.color10 {
  background-color: #c7ecee;
  width: 250px;
  height: 150px;
}
.color11 {
  background-color: #7ed6df;
  width: 250px;
  height: 150px;
}
.color12 {
  background-color: #e056fd;
  width: 250px;
  height: 150px;
}
.color13 {
  background-color: #686de0;
  width: 250px;
  height: 150px;
}
.color14 {
  background-color: #30336b;
  width: 250px;
  height: 150px;
}
.color15 {
  background-color: #95afc0;
  width: 250px;
  height: 150px;
}
.color16 {
  background-color: #22a6b3;
  width: 250px;
  height: 150px;
}
.color17 {
  background-color: #be2edd;
  width: 250px;
  height: 150px;
}
.color18 {
  background-color: #4834d4;
  width: 250px;
  height: 150px;
}
.color19 {
  background-color: #130f40;
  width: 250px;
  height: 150px;
}
.color20 {
  background-color: #535c68;
  width: 250px;
  height: 150px;
}