* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  background-color: #fbeaeb;
}
h1,
h2 {
  font-weight: 900;
  font-size: larger;
}
a {
  text-decoration: none;
  color: green;
  cursor: pointer;
  display: inline;
  font-weight: bolder;
}
a:hover {
  color: red;
  text-decoration: underline;
  display: inline;
}
#goto {
  font-size: larger;
}
